{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 style="color: blueviolet;">New Post</h1>
        <div class="container my-3 py-4 border" style="background-color: white;">
            {% for post in posts %}
                <ul class="checkmark">
                    <li>
                        {{ post.published_date|date:"Y/n/j H:i" }}
                        <a href="{% url 'detail' slug=post.slug %}">&nbsp;&nbsp;{{ post.title }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <h1 style="color: blueviolet;">Link</h1>
        <div class="row my-3 border" style="background-color: white;">
            <div class="col-4 col-lg-2 border px-3 pt-3 text-center">
                <img src="{% static 'img/twitter_img.jpg' %}" class="img-fluid">
                <p class="pt-3"><a href="https://twitter.com/takayg1" target="_blank">Twitter</a></p>
            </div>
            <div class="col-4 col-lg-2 border px-3 pt-3 text-center">
                <img src="{% static 'img/atcoder_img.jpg' %}" class="img-fluid">
                <p class="pt-3"><a href="https://atcoder.jp/users/takayg" target="_blank">AtCoder</a></p>
            </div>
            <div class="col-4 col-lg-2 border px-3 pt-3 text-center">
                <img src="{% static 'img/codeforces_img.jpg' %}" class="img-fluid">
                <p class="pt-3"><a href="https://codeforces.com/profile/takayg" target="_blank">Codeforces</a></p>
            </div>
        </div>
    </div>
{% endblock %}