{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container p-5" style="background-color: white;">
    {% for post in posts %}
        <div>
            <h3><a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a></h3>
            <p>published: {{ post.published_date|date:"Y/n/j H:i" }}</p>
        </div>
        <hr>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

                    {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}