.blog-detail-back {
    background-color: #CCCCFF;
}
  
.blog-detail {
    border: 2px solid #6666FF;
    background-color: #FFF;
    font-size: 16px;
    line-height: 1.5;
}

.title {
    border: 10px inset #800080;
    padding: 5px;
    text-align: center;
    margin-bottom: 40px;
}

.footer {
    color: #fff;
    background-color: #6666FF;
    height: 140px;
    padding: 40px;
}

.footer-logo {
    font-size: 24px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}